---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

{% if page.attendance %}
    <h2>Lista de Presença ({{ page.attendance.size }} pessoas)</h2>

    <ol>
    {% for person in page.attendance %}
        <li>
            {{ person[0] }}
            {% if person[1] %} (<a href="http://twitter.com/{{ person[1] }}">@{{ person[1] }}</a>) {% endif %}
        </li>
    {% endfor %}
    </ol>
{% endif %}

{% if page.photos %}
    <h2>Fotos</h2>

    <div>
    {% for photo_url in page.photos %}
        <img src='{{ site.baseurl }}{{ photo_url }}' />
    {% endfor %}
    </div>
{% endif %}

<div class="post">
    {{ content }}
</div>
